<html>
    <head>
        <title>Request Example</title>
        <link rel="stylesheet" type="text/css" href="/static/index.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css%22%3E">
    </head>

    <body>
        <div id="header">Information Collection</div>
        <form class= "options" method="POST" action="/temperature">
            City: <input type="text" name='city'>
            <br>
            State: <input class="state" type="text" name="state">
            <br>
            Hours Until Next Watered: <input type="text" name="hour">
            <br>
            <input class="submit" type="submit">
        </form>

        <div class="animation-area">
        </div>
    </body>
</html>