<html>
    <head>
        <title>Current Temperature</title>
    </head>
    <h1>Total Amount of Water is {{total}} Litres</h1>
    <h1>Temperature {{temp}}C</h1>
    <h1>Precipitation {{pre}}mm</h1>
    <h1>Solar Radiation {{sol}}mJ/day</h1> 
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Description of Plant</title>
    <link rel="stylesheet" type="text/css" href="\static\final.css">
</head>
<body>
    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="title">
        DAISY
    </div>
    <div class="time_to_water">
        <div>From the weather projections of {{city}},{{state}} over the next {{h}} hours, assuming you have just watered your plants, <br> this plant will a need of {{total}} litres of watering.</div>
    </div>
    <div class="container">
        <div class="middle">
            <div class="text">Daisy (Scientific Name: Bellis)</div>
            <div class="text">Flowers native to Europe, the Mediterranean,</div>
            <div class="text">and northern Africa. They are believed to</div>
            <div class="text">relieve indigestion and ease coughs.</div>
            <div class="text">Fun Facts:</div>
            <div class="text">There are approximately 4000 species of Daisies.</div>
            <div class="text">They are found on every continent except for Antarctica.</div>
            <div class="text">They symbolize purity and innocence with</div>
            <div class="text">a sense of simplicity.</div>
            <div class="text">Daisies can grow from 7 centimeters to 1.2 meters</div>
            <div class="text">depending on the species.</div>
        </div>
        <div class="plant">
            <img src="daisy.jpg" alt="Image" height="450" width="500">
        </div>
    </div>
    </body>
</html>